* {
    box-sizing: border-box;
    font-size: 0px;
}

body {
    background: black;
}

.row {
    height: 48px;
}

.wall {
    background: blue;
    width: 48px;
    height: 48px;
    display: inline-block;
}

.noms {
    background: white;
    border: 16px solid black;
    border-radius: 100px;
    width: 48px;
    height: 48px;
    display: inline-block;
}

.frut {
    border: 6px solid black;
    width: 48px;
    height: 48px;
    display: inline-block;
    background-image: url(frut.png);
    background-repeat:  none;
    background-position: center center;
    background-size: 38px 38px;
}

.plyr {
    border: 4px solid black;
    width: 48px;
    height: 48px;
    display: inline-block;
    background-image: url(pacman.gif);
    background-repeat: no repeat;
    background-position: center center;
    background-size: 120px 100px;
}

.empt {
    width: 48px;
    height: 48px;
    display: inline-block; 
    background: transparent;
}

.tunl {
    width: 48px;
    height: 48px;
    display: inline-block; 
    background: transparent;
}


.gst1 {
    border: 4px solid black;
    width: 48px;
    height: 48px;
    display: inline-block;
    background-image: url(orange-ghost.gif);
    background-repeat: no repeat;
    background-position: center center;
    background-size: 40px 40px;
}

.gst2 {
    border: 4px solid black;
    width: 48px;
    height: 48px;
    display: inline-block;
    background-image: url(blue-ghost.gif);
    background-repeat: no repeat;
    background-position: center center;
    background-size: 40px 40px;
}


form {
    width: 110px;
    height: 45px;
    display: inline-block;
}

#score {
    margin-top: 15px;
    margin-left: 25px;
    width: 370px;
    height: 120px;
    font-size: 50px;
    vertical-align: top;
    color: yellow;
    display: inline-block;
}

#start {
    display: inline-block;
    background: white;
    width: 110px;
    height: 45px;
    font-family: serif;
    color: black;
    line-height: 30px;
    font-size: 20px;
    padding: 0px;
    border: black;
    border-radius: 3px;
}

#reset {
    background: red;
    width: 110px;
    height: 45px;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 20px;
    color: white;
    font-family: serif;
}

#one-button {
    display: inline-block;
    width: 110px;
    height: 45px;
    margin-top: 30px;
}